.navbar {
  width: 100vw;
  box-shadow: 16px 0 8px #bdbdbd;

  .navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 600px;
    margin: 0 auto;
  }
  .navbar-item {
    padding: 8px;
    background-color: lightgray;
  }
}


main {
  padding: 16px;
}

section {
  margin: 16px 0;
}
