
.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
  justify-content: center;

  .letter {
    background-color: #888888;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 8px;
    padding: 8px;
    height: 2rem;
    width: 2rem;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */


    &.yellow {
      background-color: #dedb04;
    }

    &.green {
      background-color: #1a8d04;
    }
  }
}
