/* You can add global styles to this file, and also import other style files */

button {
  margin: 16px 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {

  display: flex;
  flex-direction: column;

  max-width: 600px;
  margin: 0 auto;
}
